.divisao__section{
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.divisao__informacoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divisao__informacoes__icon i{
    font-size: 40px;
}

.divisao__informacoes span{
    font-weight: bold;
}

@media screen and (min-width: 768px){
    .divisao__section{
        justify-content: space-around;
    }
}