.entre__em__contato{
    width: 100%;
    background-color: #C54242;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: white;
    box-sizing: border-box;
}

.entre__em__contato__titulo{
    width: 75%;
}

.formulario__contato{
    width: 75%;
}

.formulario__contato form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.formulario__contato form input, .formulario__contato form textarea{
    color: black;
    font-family: 'Poppins', sans-serif;
    border: 1px solid white;
}

.formulario__contato form button{
    background-color: #484141;
    color: white;
    width: 50%;
    margin: auto;
    padding: 8px 0;
    border: none;
    margin-top: 5px;
    transition: all 0.5s;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .entre__em__contato__titulo{
        width: 35%;
    }

    .formulario__contato form{
        width: 35%;
        justify-self: center;
    }

    .formulario__contato form button:hover{
        background-color: #000000;
    }
}