footer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer img{
    width: 100px;
}

.informacoes__footer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.informacoes__footer p{
    font-size: 14px;
}

.informacoes__footer i{
    font-size: 14px;
}