main {
    display: flex;
    flex-direction: column;
    background-image: url(../img/planoFundoEfeito.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

.titulo__main {
    width: 90%;
}

.cacamba__main {
    width: 100%;
}

@media screen and (min-width: 768px) {
    main {
        background-size: cover; /* Faz com que a imagem do background ocupe todo o espaço disponível */

    }

    .titulo__main {
        width: 35%;
    }

    .cacamba__main {
        width: 35%;
    }
}