.nossos__servicos{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.nossos__servicos__titulo{
    display: flex;
    justify-content: center;
    padding: 1px;
}

.nossos__servicos__titulo img{
    width: 90%;
}

.nossos__servicos__container__imgs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.nossos__servicos__imgs{
    width: 85%;
}