.nossos__servicos{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.nossos__servicos__titulo{
    display: flex;
    justify-content: center;
    padding-bottom: 2px;
    width: 100%;
}

.nossos__servicos__titulo__img{
    width: 75%;
}

.nossos__servicos__container__imgs{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nossos__servicos__imgs{
    width: 75%;
}