/* Importando a biblioteca remixixon */
@import url("https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css");

/* Importando o reset */
@import url("./reset.css");

/* Importando fonte */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* Importando o estilo do header */
@import url("./header.css");

/* Importando o estilo do main */
@import url("./main.css");

/* Importando o estilo da divisao de sections */
@import url("./divisao__section.css");

/* Importando o estilo da section nossos serviços */
@import url("./nossos__servicos.css");

/* Importando o estilo da section entre em contato */
@import url("./entre__em__contato.css");

/* Importando o estilo do footer */
@import url("./footer.css");

/* Importando o estilo da section direitos reservados */
@import url("./direitos__reservados.css");

body {
	font-family: 'Poppins', sans-serif;
}

.none__descktop{
	display: flex;
}

.none__mobile{
	display: none;
}

@media screen and (min-width: 768px){
	.none__descktop{
		display: none;
	}

	.none__mobile{
		display: flex;
	}
}